# mybatis-plus-ext 代码预生产插件配置

# 统一说明：
# 路径相关的配置，支持相对路径的写法
# 比如：..mapper，..表示在上一级目录，即实体所在目录同级的mapper目录下
# 比如：. 表示在实体所在的目录下

# 包含实体所有字段的类的名称后缀
processor.entityDefineSuffix=Define
# 包含实体所有字段的类生成后的路径
processor.entityDefinePackageName=.
# 生成的Mapper的后缀
processor.mapperSuffix=Mapper
# mapper生成后的路径
processor.mapperPackageName=..postgresql.mapper
# 生成的Repository的后缀
processor.repositorySuffix=Repository
# Repository生成后的路径
processor.repositoryPackageName=..postgresql.repository